.game_list_item {
    list-style-type: none;
}

.game_list_title {
    font-size: 18px;
}

.start_btn {
    border-radius: 20px 0px 0px 20px;
    
    padding-left: 10px;
    padding-right: 10px;

    margin-bottom: 8px;
}

.detail_btn {
    border-radius: 0px 20px 20px 0px;
    
    padding-left: 10px;
    padding-right: 10px;

    margin-bottom: 8px;
}

.game_container {
    color: #ecf0f1;
    background-color: #101821;

    text-align: center;
    
    box-shadow: 13px 11px 26px -4px rgba(0,0,0,0.75);

    margin-right: 10%;
    margin-left: 10%;
}

.detail_tab {
    padding: 2%;
}

.title_detail_tab {
    font-size: 20px;
    text-align: left;

    margin-left: 5%;
}

.metadata_list {
    text-align: left;
}

.metadata_list_item {
    list-style-type: none;
}

.list_item_close {
    font-size: 20px;

    padding-left: 1%;
    padding-right: 1%;
    float: right;
}

.list_item_close:hover {
    color: #fb2222;
} 

#game_list_container {
    background-color: #1b2838;

    box-shadow: inset 0px 0px 300px -46px rgba(0,0,0,0.75);
    
    padding: 1%;
}

#game_list {
    
}
